
<h1>
    Fin del Juego Aleatorio:
</h1>

<div>
    Preguntas acertadas = <span id="score"><%= score %></span>
</div>

<p>
    Ya has acertado todas las preguntas existentes. Eres un campeón.
</p>

<p>
    <a href="/quizzes"><button>Volver</button></a>
</p>

<<<<<<< HEAD
=======

>>>>>>> f6740aea9cd83c9f0f1b94fd90fca2190de44875
